@import '../../styles/variables.css';

/* TODO reuse css from Purchase11.css*/
.form {
  display: flex;
  flex-direction: column;
  flex: auto;
  font-size: var(--font-size-base);
  color: var(--text-color);
}

.content {
  padding-bottom: var(--margin-md);
  padding-right: var(--margin-md);
  padding-left: var(--margin-md);

  @media (--md-down) {
    padding-top: var(--margin-md);
  }
  @media (--md-up) {
    padding-top: var(--margin-xl);
  }
  @media (min-width: 821px) {
    margin-right: auto;
    margin-left: auto;
    max-width: 680px;
    width: 100%;
  }
}

.headerPrefix {
  @media (min-width: 821px) {
    position: absolute;
    right: 100%;
  }
}

.subtotalHeader {
  font-family: var(--font-family-secondary);
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 3.15px;
  text-transform: uppercase;
  color: var(--dark-color);
  margin-bottom: 0;
}

.subtotalValue {
  font-family: var(--font-family-secondary);
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 3.15px;
  color: var(--dark-color);
}

.subtotalCurrency {
  font-family: var(--font-family-secondary);
  font-size: 18px;
  letter-spacing: 3.15px;
  color: var(--muted-color);
  margin-left: 4px;
}

.orderDetails {
  border-top: 2px solid color-mod(var(--dark-color) a(10%));
  border-bottom: 2px solid color-mod(var(--dark-color) a(10%));
  padding-top: var(--margin-md);
  padding-bottom: var(--margin-md);
}

.cardTitle {
  font-family: var(--font-family-secondary);
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 3.15px;
  margin-bottom: var(--margin-md);
}

.subtotalSection {
  padding-top: var(--margin-xl);
  padding-bottom: var(--margin-xl);
}

.totalSection {
  padding-bottom: var(--margin-xl);
}
