@import '../../styles/variables.css';

.header {
  color: var(--white-color);
  text-align: center;

  @media (--md-up) {
    font-size: 54px;
  }
  @media (--md-down) {
    font-size: 32px;
  }
  @media (--sm-down) {
    font-size: 28px;
  }
}

.subHeader {
  color: var(--white-color);
  letter-spacing: 3.5px;
  font-family: var(--font-family-secondary);
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;

  @media (--sm-down) {
    font-size: 16px;
  }
}

.heroSection {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
  url('../../static/hero_img.jpg') center center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--margin-xl) var(--margin-md) 82px var(--margin-md);

  @media (--md-up) {
    min-height: 485px;
  }
}

.scroll {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: var(--font-family-tertiary);
  font-size: 10px;
  color: color-mod(var(--white-color) a(80%));
  font-style: italic;
  padding: var(--margin-lg);

  svg > g {
    transition: stroke .3s;
    stroke: color-mod(var(--white-color) a(80%));
  }

  &:--hover {
    color: var(--white-color);

    svg > g {
      stroke: var(--white-color);
    }
  }
}

.howItWorksHeader {
  text-align: center;
  margin-bottom: var(--margin-xl);

  @media (--md-up) {
    font-size: 40px;
  }
  @media (--md-down) {
    font-size: 32px;
  }
}

.howItWorksSection {
  min-height: 485px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--margin-md);
}

.card {
  position: relative;
  background-color: var(--white-color);
  height: 310px;
  padding: var(--margin-md);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: var(--margin-xl);
  margin-right: auto;
  margin-left: auto;
  max-width: 280px;
}

.cardTopElement {
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
}

.cardNumber {
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  font-family: var(--font-family-secondary);
  font-size: 18px;
  color: var(--primary-color);
}

.cardImage {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  flex: 1;
  width: 100%;
}
.cardImage_de {
  max-height: 132px;
}
.cardTitle {
  font-family: var(--font-family-secondary);
  font-weight: 300;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3.15px;
}

.cardDescription {
  text-align: center;
  margin-bottom: 0;
}

.cardsForEverythingHeader {
  @media (--md-up) {
    font-size: 40px;
  }
  @media (--md-down) {
    font-size: 32px;
  }
}

.cardsForEverythingDescription {
  white-space: pre-wrap;
}

.cardsForEverythingSection {
  background-color: var(--white-color);
  min-height: 440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cardsForEverythingImage {
  max-width: 100%;
  height: auto;
}

.cardsForEverythingBackground {
  max-width: var(--max-content-width);
  background: url('../../static/marble_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  display: flex;
  justify-content: flex-end;

  @media (--md-up) {
    margin: 50px auto;
    padding: 45px 0;
  }
  @media (--md-down) {
    flex-direction: column;
    text-align: center;
  }
}

.cardsForEverythingContent {
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (--md-up) {
    width: 445px;
    padding: 45px;
  }
  @media (--md-down) {
    padding: var(--margin-md);
  }
}

/*TODO check if it should be a button component*/
/*TODO change color on hover*/
.sectionBtn {
  display: flex;
  align-items: center;
  margin-top: var(--margin-md);

  @media (--md-down) {
    justify-content: center;
  }
}

.sectionBtnIcon {
  margin-right: var(--margin-sm);
}

.sectionBtnLabel {
  color: var(--link-color);
  font-family: var(--font-family-secondary);
  letter-spacing: 2.1px;
  font-size: var(--font-size-sm);
  text-transform: uppercase;
  border-bottom: 1px solid color-mod(var(--link-color) a(50%));
}

.giftingHeader {
  @media (--md-up) {
    font-size: 40px;
  }
  @media (--md-down) {
    font-size: 32px;
  }
}
.giftingHeader_de{
  margin-bottom: 0;
  @media (--md-up) {
    font-size: 30px;
  }
  @media (--md-down) {
    font-size: 32px;
  }
}
.subgiftingHeader {
  @media (--md-up) {
    font-size: 20px;
  }
  @media (--md-down) {
    font-size: 18px;
  }
}
.giftingSection {
  background-color: var(--white-color);
  min-height: 440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.giftingImage {
  max-width: 100%;
  height: auto;
}

.giftingBackground {
  max-width: var(--max-content-width);
  background: url('../../static/wall_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  display: flex;
  justify-content: flex-start;

  @media (--md-up) {
    margin: 50px auto;
    padding: 45px 0;
  }
  @media (--md-down) {
    flex-direction: column;
    text-align: center;
  }
}

.giftingContent {
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (--md-up) {
    width: 445px;
    padding: 45px;
  }
  @media (--md-down) {
    order: 1;
    padding: var(--margin-md);
  }
}

.feedbackSection {
  background: url('../../static/testemonials_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 425px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.feedbackImage {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto var(--margin-lg);
}

.feedbackHeader {
  font-size: 18px;
  font-weight: 300;
  font-family: var(--font-family-secondary);
  text-align: center;
  letter-spacing: 3.15px;
}

.feedbackDescription {
  font-size: 24px;
  text-align: center;
  margin-bottom: var(--margin-xl);
  max-width: 780px;
  margin-right: auto;
  margin-left: auto;
}

.feedback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--margin-md);
}

.dotWrapper {
  padding: 8px;
  box-sizing: content-box;
  cursor: pointer;
  margin: 0 5px;
  border: 1px solid transparent;
}

:global(.slick-active) .dotWrapper {
  border-color: var(--primary-color);
  border-radius: 50%;
}

.dot {
  background-color: var(--primary-color);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin: 0;
}

.aboutUsHeader {
  @media (--md-up) {
    font-size: 40px;
  }
  @media (--md-down) {
    font-size: 32px;
  }
  text-align: center;
}

.aboutUsSection {
  min-height: 490px;
  background: url('../../static/creative-floral.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.aboutUsContent {
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  @media (--md-up) {
    width: 445px;
    padding: 45px;
  }
  @media (--md-down) {
    padding: var(--margin-md);
  }
}

.aboutUsIcon {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
}

.signUpSection {
  background-color: var(--white-color);
  min-height: 345px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: var(--margin-md);
  padding-left: var(--margin-md);
}

.signUpHeader {
  @media (--md-up) {
    font-size: 40px;
  }
  @media (--md-down) {
    font-size: 32px;
  }
  text-align: center;
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
  line-height: 1;
  margin-bottom: 40px;
}

.signUpInputWrapper {
  display: flex;
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
}

.signUpInput {
  border: 1px solid var(--dark-color);
  border-right-width: 0 !important;

  &:--hover {
    border-color: var(--dark-color);
    border-right-width: 0 !important;
  }

  @media (--md-up) {
    width: 510px;
    height: 80px;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 18px;
  }
  @media (--md-down) {
    padding-right: 16px;
    padding-left: 16px;
    width: 195px;
  }
}

.signUpBtn {
  @media (--md-up) {
    width: 190px;
    height: 80px;
  }
  @media (--md-down) {
    min-width: 100px;
  }
}
