@import '../../styles/variables.css';

.header {
  color: var(--white-color);
  font-size: 54px;
}

.subHeader {
  color: var(--white-color);
  font-size: 18px;
  letter-spacing: 3.5px;
  font-family: var(--font-family-secondary);
  text-transform: uppercase;
  font-weight: 300;
}

.heroSection {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
  url('../../static/hero_img.jpg') center center no-repeat;
  background-size: cover;
  min-height: 485px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--margin-md) var(--margin-md) 82px;
}

.scroll {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: var(--font-family-tertiary);
  font-size: 10px;
  color: color-mod(var(--white-color) a(80%));
  font-style: italic;
  padding: var(--margin-lg);

  svg > g {
    transition: stroke .3s;
    stroke: color-mod(var(--white-color) a(80%));
  }

  &:--hover {
    color: var(--white-color);

    svg > g {
      stroke: var(--white-color);
    }
  }
}

.howItWorksHeader {
  font-size: 40px;
  text-align: center;
  margin-bottom: var(--margin-xl);
}

.howItWorksSection {
  min-height: 485px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--margin-md);
}

.card {
  position: relative;
  background-color: var(--white-color);
  height: 280px;
  padding: var(--margin-md);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: var(--margin-xl);
  margin-right: auto;
  margin-left: auto;
  max-width: 280px;
}

.cardTopElement {
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
}

.cardNumber {
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  font-family: var(--font-family-secondary);
  font-size: 18px;
  color: var(--primary-color);
}

.cardImageWrapper {
  flex: 1;
  display: flex;
  align-items: flex-end;
  margin-bottom: var(--margin-lg);
}

.cardImageCircle {
  height: 125px;
  width: 125px;
  background: linear-gradient(180deg, rgba(219, 240, 235, 0), #DBF0EB);
  border-radius: 50%;
}

.cardImage {
}

.cardTitle {
  font-family: var(--font-family-secondary);
  font-weight: 300;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
}

.cardDescription {
  text-align: center;
  margin-bottom: 0;
}

.cardsForEverythingHeader {
  font-size: 40px;
}

.cardsForEverythingSection {
  background-color: var(--white-color);
  min-height: 440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cardsForEverythingImage {
  max-width: 100%;
  height: auto;
}

.cardsForEverythingBackground {
  max-width: var(--max-content-width);
  background: url('../../static/marble_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  display: flex;
  justify-content: flex-end;

  @media (--md-up) {
    margin: 50px auto;
    padding: 45px 0;
  }

  @media (--md-down) {
    flex-direction: column;
    text-align: center;
  }
}

.cardsForEverythingContent {
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (--md-up) {
    width: 445px;
    padding: 45px;
  }

  @media (--md-down) {
    padding: var(--margin-md);
  }
}

/*TODO check if it should be a button component*/
/*TODO change color on hover*/
.sectionBtn {
  display: flex;
  align-items: center;
  margin-top: var(--margin-md);

  @media (--md-down) {
    justify-content: center;
  }
}

.sectionBtnIcon {
  margin-right: var(--margin-sm);
}

.sectionBtnLabel {
  color: var(--link-color);
  font-family: var(--font-family-secondary);
  letter-spacing: 2.1px;
  font-size: var(--font-size-sm);
  font-style: normal;
  text-transform: uppercase;
  border-bottom: 1px solid color-mod(var(--link-color) a(50%));
}

.giftingHeader {
  font-size: 40px;
}

.giftingSection {
  background-color: var(--white-color);
  min-height: 440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.giftingImage {
  max-width: 100%;
  height: auto;
}

.giftingBackground {
  max-width: var(--max-content-width);
  background: url('../../static/wall_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  display: flex;
  justify-content: flex-start;

  @media (--md-up) {
    margin: 50px auto;
    padding: 45px 0;
  }

  @media (--md-down) {
    flex-direction: column;
    text-align: center;
  }
}

.giftingContent {
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (--md-up) {
    width: 445px;
    padding: 45px;
  }

  @media (--md-down) {
    order: 1;
    padding: var(--margin-md);
  }
}
