@import '../../styles/variables.css';

.container {
  @media (--md-down) {
    padding-top: var(--margin-md);
  }
  @media (--md-up) {
    padding-top: var(--margin-xl);
  }
}

.content {
  max-width: var(--max-dashboard-width);
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  padding-right: var(--margin-md);
  padding-left: var(--margin-md);
}

.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--margin-md);
}

.header {
  margin-bottom: 0;

  @media (--md-up) {
    font-size: 40px;
  }
  @media (--md-down) {
    font-size: 32px;
  }
}

.sectionHeader {
  @media (--md-up) {
    font-size: 40px;
  }
  @media (--md-down) {
    font-size: 32px;
  }
}
.sectionSpace {
  height: 40px;
  margin-bottom: .5em;
  @media (--md-down) {
    height: 32px;
  }
}
.instructions {
  margin-bottom: var(--margin-xl);
}

.subHeader {
  font-size: 15px;
  margin-bottom: var(--margin-xl);
}

.actionsWrapper {
  border-top: 2px solid color-mod(var(--dark-color) a(10%));
  margin-top: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.actions {
  max-width: var(--max-dashboard-width);
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  padding-right: var(--margin-md);
  padding-left: var(--margin-md);
}
.actionsRight {
  display: inline-block;
  float: right;
}
.columnsMappingForm {
  max-width: 425px;
}
