@import '../../styles/variables.css';

.content {
  padding-bottom: var(--margin-md);
  padding-right: var(--margin-md);
  padding-left: var(--margin-md);
  flex: auto;

  @media (--md-down) {
    padding-top: var(--margin-md);
  }
  @media (--md-up) {
    padding-top: var(--margin-xl);
  }
  @media (min-width: 821px) {
    margin-right: auto;
    margin-left: auto;
    max-width: 680px;
    width: 100%;
  }
}

.header {
  justify-content: space-between;
}

.headerPrefix {
  @media (min-width: 821px) {
    position: absolute;
    right: 100%;
  }
}

.columnsMappingForm {
  max-width: 425px;
}
