@import '../../styles/variables.css';

.content {
  padding-bottom: var(--margin-md);
  padding-right: var(--margin-md);
  padding-left: var(--margin-md);

  @media (--md-down) {
    padding-top: var(--margin-md);
  }
  @media (--md-up) {
    padding-top: var(--margin-xl);
  }
  @media (--lg-up) {
    margin-right: auto;
    margin-left: auto;
    max-width: 850px;
    width: 100%;
  }
}

.headerPrefix {
  @media (--lg-up) {
    position: absolute;
    right: 100%;
  }
}

.section {
  @media (--lg-up) {
    margin-bottom: var(--margin-xl);
  }
}

.actionsSection {
  @media (--sm-down) {
    order: 3;
  }
}
