@import '../../styles/variables.css';

.content {
  padding-bottom: var(--margin-md);
  padding-right: var(--margin-md);
  padding-left: var(--margin-md);

  @media (--md-down) {
    padding-top: var(--margin-md);
  }
  @media (--md-up) {
    padding-top: var(--margin-xl);
  }
  @media (min-width: 821px) {
    margin-right: auto;
    margin-left: auto;
    max-width: 680px;
    width: 100%;
  }
}

.headerPrefix {
  @media (min-width: 821px) {
    margin-left: -80px;
  }
}

.addContactsContent {
  padding-bottom: var(--margin-md);
  padding-right: var(--margin-md);
  padding-left: var(--margin-md);

  @media (--md-down) {
    padding-top: var(--margin-md);
  }
  @media (--md-up) {
    padding-top: var(--margin-xl);
  }

  @media (--sm-up) {
    margin-right: auto;
    margin-left: auto;
    max-width: 425px;
    width: 100%;
  }
}

.addContactsHeaderPrefix {
  @media (--sm-up) {
    margin-left: -80px;
  }
}

.importContactsContent {
  padding-bottom: var(--margin-md);
  padding-right: var(--margin-md);
  padding-left: var(--margin-md);

  @media (--md-down) {
    padding-top: var(--margin-md);
  }
  @media (--md-up) {
    padding-top: var(--margin-xl);
  }

  @media (min-width: 1001px) {
    margin-right: auto;
    margin-left: auto;
    max-width: 860px;
    width: 100%;
  }
}

.importContactsHeaderPrefix {
  @media (min-width: 1001px) {
    margin-left: -80px;
  }
}

.items {
  flex-wrap: wrap;
}

.itemWrapper {
  @media (--xs-down) {
    width: 100%;
  }
}

.item {
  justify-content: flex-end;
  margin-bottom: 20px;

  @media (--xs-up) {
    /*to split by 2*/
    width: 314px;
  }
}
