@import '../../styles/variables.css';

.content {
  padding-bottom: var(--margin-md);
  padding-right: var(--margin-md);
  padding-left: var(--margin-md);
  flex: auto;

  @media (--md-down) {
    padding-top: var(--margin-md);
  }
  @media (--md-up) {
    padding-top: var(--margin-xl);
  }
  @media (min-width: 821px) {
    margin-right: auto;
    margin-left: auto;
    max-width: 680px;
    width: 100%;
  }
}

.headerPrefix {
  @media (min-width: 821px) {
    position: absolute;
    right: 100%;
  }
}

.items {
  flex-wrap: wrap;
}

.itemWrapper {
  margin-bottom: 20px;

  @media (--xs-down) {
    width: 100%;
  }
}

.item {
  justify-content: flex-end;
  height: 100%;

  @media (--xs-up) {
    /*to split by 2*/
    width: 314px;
  }
}

.loadingScreen {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 100;
  background: white;
}
.requireMark{
  margin-top: 10px;
  color:red;
}
.CardCheckOut{
  margin-left: 10px;
  margin-bottom: 20px;
  display: block;
}
.checkbox{
  margin-left: 10px;
  margin-top: 20px;
}
.visible{
  display: inline-block;
}
.invisible{
  display: none;
}
.subtotalHeader {
  font-family: var(--font-family-secondary);
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 3.15px;
  text-transform: uppercase;
  color: var(--dark-color);
}

.subtotalValue {
  font-family: var(--font-family-secondary);
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 3.15px;
  color: var(--dark-color);
}

.subtotalCurrency {
  font-family: var(--font-family-secondary);
  font-size: 18px;
  letter-spacing: 3.15px;
  color: var(--muted-color);
  margin-left: 4px;
}
.addcardbtn{
  margin-top: 20px;
}