@import '../../styles/variables.css';

.content {
  padding-bottom: var(--margin-md);
  padding-right: var(--margin-md);
  padding-left: var(--margin-md);

  @media (--md-down) {
    padding-top: var(--margin-md);
  }
  @media (--md-up) {
    padding-top: var(--margin-xl);
  }
  @media (--lg-up) {
    margin-right: auto;
    margin-left: auto;
    max-width: 850px;
    width: 100%;
  }
}

.header {
  justify-content: space-between;
}

.headerPrefix {
  @media (--lg-up) {
    position: absolute;
    right: 100%;
  }
}

.items {
  flex-wrap: wrap;
}

.itemWrapper {
  margin-bottom: 20px;

  @media (--xs-down) {
    width: 100%;
  }
}

.item {
  justify-content: flex-end;
  padding-top: var(--margin-sm);
  padding-right: var(--margin-sm);
  padding-left: var(--margin-sm);
  height: 100%;

  @media (--xs-up) {
    /*to split by 4*/
    width: 146px;
  }
}

.occasionType {
  width: 325px;
}
