@import '../../styles/variables.css';

.content {
  margin-bottom: var(--margin-md);

  @media (min-width: 820px) {
    margin-right: auto;
    margin-left: auto;
    max-width: 850px;
  }
  @media (max-width: 990px) {
    margin-right: var(--margin-md);
    margin-left: var(--margin-md);
  }
  @media (--md-up) {
    margin-top: var(--margin-xl);
  }
}

.headerPrefix {
  @media (min-width: 990px) {
    margin-left: -60px;
  }
}

.items {
  flex-wrap: wrap;
}

.itemWrapper {
  @media (--xs-down) {
    width: 100%;
  }
}

.item {
  margin-bottom: 20px;
  justify-content: flex-end;
  padding-top: var(--margin-sm);
  padding-right: var(--margin-sm);
  padding-left: var(--margin-sm);

  @media (--xs-up) {
    /*to split by 5*/
    width: 154px;
  }
}
