@import '../../styles/variables.css';

.content {
  padding-bottom: var(--margin-md);
  padding-right: var(--margin-md);
  padding-left: var(--margin-md);

  display: flex;
  justify-content: center;
  flex-direction: column;

  @media (--md-down) {
    padding-top: var(--margin-md);
  }
  @media (--md-up) {
    padding-top: var(--margin-xl);
  }
  @media (min-width: 1341px) {
    margin-right: auto;
    margin-left: auto;
    max-width: var(--max-content-width);
    width: 100%;
  }
  @media (max-width: 1341px) {
    margin-left : 60px;
    margin-right: 60px;
  }
}

.header {
  justify-content: space-between;
}

.headerPrefix {
  @media (--lg-up) {
    position: absolute;
    right: 100%;
  }
}

.items {
  flex-wrap: wrap;
  align-self: center;
  @media (min-width: 1118px) {
    margin-right: auto;
    margin-left: auto;
    max-width: 1060px;
    width: 100%;
  }
}

.itemWrapper {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  @media (--xs-down) {
    width: 100%;
  }
  @media (min-width: 1118px) {
    margin-right: var(--margin-md);
    margin-left: var(--margin-md);
  }
}

.item {
  justify-content: flex-end;
  padding-top: var(--margin-sm);
  padding-right: var(--margin-sm);
  padding-left: var(--margin-sm);
  height: 100%;

  @media (--xs-up) {
    /*to split by 4*/
    width: 160px;
  }
}

.occasionType {
  width: 325px;
}
