@import '../../styles/variables.css';

.cardImage,
.giftImage {
  max-width: 100%;
  height: auto;
}

.cardTitle,
.giftTitle {
  margin-top: var(--margin-xs);
  font-family: var(--font-family-secondary);
  font-size: 18px;
  letter-spacing: 3.15px;
  text-transform: uppercase;
  color: var(--dark-color);
}

.price {
  font-family: var(--font-family-secondary);
  color: var(--dark-color);
  font-size: 18px;
  letter-spacing: 3.15px;
  font-weight: 300;
}

.currency {
  font-family: var(--font-family-secondary);
  color: var(--muted-color);
  margin-left: 4px;
  font-size: 18px;
  letter-spacing: 3.15px;
  font-weight: 300;
}
