@import '../../styles/variables.css';

.content {
  padding-bottom: var(--margin-md);
  padding-right: var(--margin-md);
  padding-left: var(--margin-md);

  @media (--md-down) {
    padding-top: var(--margin-md);
  }
  @media (--md-up) {
    padding-top: var(--margin-xl);
  }
  @media (min-width: 1341px) {
    margin-right: auto;
    margin-left: auto;
    max-width: var(--max-content-width);
    width: 100%;
  }
  @media (max-width: 1341px) {
    margin-left : 60px;
    margin-right: 60px;
  }
}

.headerPrefix {
  @media (min-width: 1341px) {
    position: absolute;
    right: 100%;
  }
}

.items {
  flex-wrap: wrap;
  max-width: 800px;
  margin-left: auto!important;
  margin-right: auto!important;
}

.itemWrapper {
  margin-bottom: 20px;

  @media (--xs-down) {
    width: 100%;
  }
}

.item {
  justify-content: flex-start;

  @media (--xs-up) {
    /*to split by 4*/
    width: 222px;
    height: 230px;
  }

  img {
    width: 222px;
    height: 162px;
  }
}

.amount {
  @media (--xs-up) {
    max-width: 230px;
  }
}
.footer {
  text-align: center;
}
.dontationImg {
  background-size: contain
}
.removeBtn{
  float: right;
  margin-top: 10px;
}
.multiline{
  white-space: pre-line;
}
.restrictedBtn{
  max-width: 200px;
}