@import '../../styles/variables.css';

.header {
  font-size: 40px;
  text-align: center;
  padding-right: var(--margin-md);
  padding-left: var(--margin-md);

  @media (--md-up) {
    margin-top: var(--margin-xl);
  }
}

.form {
  display: flex;
  flex-direction: column;
  flex: auto;
}

.formContent {
  @media (--xs-up) {
    margin-right: auto;
    margin-left: auto;
    max-width: 400px;
    width: 100%;
  }
  @media (--xs-down) {
    margin-right: var(--margin-md);
    margin-left: var(--margin-md);
  }
}

.alert {
  margin-bottom: var(--margin-md);
}

.actions {
  border-top: 2px solid color-mod(var(--dark-color) a(10%));
  margin-top: auto;
  text-align: center;
}

.submitBtn {
  margin-top: 40px;
  margin-bottom: 40px;
}
