@import '../../styles/variables.css';

.actionsWrapper {
  background: var(--dark-color);
}

.actions {
  display: flex;
  align-items: center;
  height: 90px;
  max-width: 820px;
  margin-right: auto;
  margin-left: auto;
}

.steps {
  display: flex;
}

.stepWrapper {
  &.completed {
    .tail:after {
      background: color-mod(var(--primary-color) a(60%));
    }

    .step {
      background: var(--primary-color);
      border: 1px solid var(--primary-color);
    }
  }

  &.current {
    .tail:after {
      background: color-mod(var(--primary-color) a(60%));
    }

    .step {
      background: var(--white-color);
      border: 3px solid var(--primary-color);
      box-shadow: 0 0 0 6px var(--dark-color),
      0 0 0 7px color-mod(var(--primary-color) a(30%));
    }
  }

  &.pending {
    .tail:after {
      background: var(--darker-color);
    }

    .step {
      border: 1px solid var(--darker-color);
    }
  }

  &:not(:first-child) {
    position: relative;
    width: 30px;

    .tail:after {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      height: 2px;
      width: 20px;
      margin-right: 10px;
    }
  }
}

.step {
  display: flex;
  width: 10px;
  height: 10px;
  margin-left: auto;
  border-radius: 50%;
}
