@import '../../styles/variables.css';

.container {
  max-width: var(--max-content-width);
  margin-right: auto;
  margin-left: auto;
  display: flex;
  width: 100%;

  @media (--md-up) {
    padding: var(--margin-xl) var(--margin-md);
  }
  @media (--md-down) {
    flex-direction: column;
    padding: var(--margin-md);
  }
}

.actions {
  margin-bottom: var(--margin-md);
  display: flex;
}

.clearFilters {
  margin-left: var(--margin-md);
}

.filters {
  width: 300px;

  @media (--md-up) {
    padding-top: 70px;
  }
}

.filterHeader {
  margin-bottom: var(--margin-md);

  @media (--md-up) {
    font-size: 40px;
  }
  @media (--md-down) {
    font-size: 32px;
  }
}

.filterItems {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: var(--margin-sm);
  margin-bottom: var(--margin-sm);

  li {
    padding: 8px 0;

    @media (--sm-down) {
      margin-bottom: var(--margin-sm);
    }
  }

  a {
    text-transform: uppercase;
    letter-spacing: 2.1px;
    font-size: 12px;
    color: var(--dark-color);
    font-family: var(--font-family-secondary);
  }
}

.content {
  flex: 1;
}

.itemWrapper {
  margin-bottom: 20px;
}

.price {
  letter-spacing: normal;
}

.currency {
  color: var(--muted-color);
  margin-left: 4px;
}

.footer {
  text-align: center;
}

.noData {
  text-align: center;
}

.occasionType {
  width: 200px;
  margin-bottom: var(--margin-md);
}

.selected {
  font-weight: 600;
}
.DetailModal {
  :global(.ant-modal-title) {
    font-size: 36px;
    line-height: 36px;
  }
  :global(.ant-modal-header) {
    padding: 61px 24px 18px 24px;
  }
}
.detailRow {
  margin-bottom: 20px;
}
.Detail {
  color: var(--dark-color);
  font-family: var(--font-family-secondary);
}

.DetailTitle {
  margin-bottom: 15px;
  color: color-mod(var(--dark-color) a(70%));
  font-family: var(--font-family-secondary);
}
.itemImage {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 314px;
  width: 100%;
}
.previewImage {
  margin-bottom: 50px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-height: 250px;
}

/*TODO move to component styles*/
.dotWrapper {
  padding: 8px;
  box-sizing: content-box;
  cursor: pointer;
  margin: 0 5px;
  border: 1px solid transparent;
}
:global(.slick-active) .dotWrapper {
  border-color: var(--primary-color);
  border-radius: 50%;
}
.dot {
  background-color: var(--primary-color);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin: 0;
}