@import './normalize.css';
@import './layout.css';
@import './button.css';
@import './input.css';
@import './select.css';
@import './carousel.css';
@import './table.css';
@import './calendar.css';
@import './pagination.css';
@import './spin.css';
@import './breadcrumbs.css';

:global {
  .ant-form {
    font-family: var(--font-family);
  }

  /*TODO add custom icons for notifications*/
  /*.anticon-check-circle:before {
    content: '';
    background: url('./svgs/check-circle.svg') no-repeat top left;
  }

  .anticon-cross-circle:before {
    content: '';
    background: url('./svgs/cross-circle.svg') no-repeat top left;
  }*/
}
