@import './normalize.css';
@import './layout.css';
@import './icon.css';
@import './button.css';
@import './input.css';
@import './select.css';
@import './carousel.css';
@import './table.css';
@import './calendar.css';
@import './pagination.css';
@import './spin.css';
@import './breadcrumbs.css';
@import './date-picker.css';
@import './tooltip.css';
@import './modal.css';
@import './checkbox.css';
@import './popover.css';
@import './variables.css';
:global {
  .ant-form {
    font-family: var(--font-family);
  }

  .rccs__card--unknown > div {
    background: linear-gradient(25deg, var(--primary-color), var(--primary-color)) !important;
  }
  .custom_ol { 

    counter-reset: item !important
  }
  .custom_li{ 
    margin-top: 10px;
    margin-bottom: 10px;
    display: block !important;
    text-indent: -20px;
    color: var(--text-color);
    font-weight: 100;
    font-size: var(--font-size-base);
    font-family: var(--font-family);
  }
  .custom_li:before { 
    content: counters(item, ".") " "; counter-increment: item !important;
    color: var(--text-color);
    font-weight: bold;
    font-size: var(--font-size-base);
    font-family: var(--font-family);
  }

  .custom_li_parent{ 
    display: block !important;
    color: var(--heading-color);
    font-weight: 100;
    font-size: 32px;
    font-family: var(--font-family);
  }
  .custom_li_parent:before { 
    content: counters(item, ".") ". "; counter-increment: item !important;
    color: var(--heading-color);
    font-weight: bold;
    font-size: 32px;
    font-family: var(--font-family);
    margin-right: 5px;
  }
}

.collapseButton {
  border-bottom: solid 1px rgba(0,0,0,0.2);
  margin-bottom: 15px;
}
.collapseIcon {
  float: right;
  font-size: 25px;
  margin-top: 18px;
  
}

button span {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}
::-webkit-inner-spin-button { margin-top: 12px; margin-left: 5px }
::-webkit-calendar-picker-indicator { display: none; }

input[placeholder="DD-MM-YYYY"] {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  min-height : 50px;
}
input[placeholder="TT-MM-JJJJ"] {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  min-height : 50px;
}
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

