@import './variables.css';

/*TODO add supporting icons, add lg/sm sizes*/
:global {
  .ant-input {
    /*reset component*/
    font-family: var(--font-family-secondary);
    box-sizing: border-box;
    margin: 0;
    list-style: none;
    /*input*/
    position: relative;
    display: inline-block;
    padding: var(--input-padding-vertical-base) var(--input-padding-horizontal-base);
    width: 100%;
    height: var(--input-height-base);
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
    color: var(--input-color);
    background-color: var(--input-bg);
    background-image: none;
    border: none;
    border-bottom: 1px solid var(--input-border-color);
    border-radius: 0;
    transition: all .3s;

    /*Reset placeholder*/
    /* Firefox*/
    &::-moz-placeholder {
      color: var(--input-placeholder-color);
      opacity: 1; /*Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526*/
    }
    /* Internet Explorer 10+*/
    &:-ms-input-placeholder {
      color: var(--input-placeholder-color);
    }
    /* Safari and Chrome*/
    &::-webkit-input-placeholder {
      color: var(--input-placeholder-color);
    }

    &:hover {
      border-color: color-mod(var(--dark-color) a(20%));
      border-right-width: 1px !important;
    }

    &:focus {
      border-color: color-mod(var(--dark-color) a(20%));
      outline: 0;
      border-right-width: 1px !important;
    }

    &-disabled {
      /*background-color: @input-disabled-bg;*/
      opacity: 1;
      cursor: not-allowed;
      /*color: @disabled-color;*/

      &:hover {
        border-color: color-mod(var(--dark-color) a(20%));
        border-right-width: 1px !important;
      }
    }

    /*// Reset height for `textarea`s
      textarea& {
        max-width: 100%; // prevent textearea resize from coming out of its container
        height: auto;
        vertical-align: bottom;
        transition: all .3s, height 0s;
        min-height: @input-height-base;
      }

    // Size
      &-lg {
        .input-lg();
      }

      &-sm {
        .input-sm();
      }*/
  }

  .has-error .ant-input:focus {
    box-shadow: none;
  }

  .ant-input-search {
    &-icon {
      color: var(--text-color);
      cursor: pointer;
      transition: all .3s;
      font-size: 18px;

      &:hover {
        color: #333;
      }
    }

    &:not(&-small) > .ant-input-suffix {
      right: 0;
    }

    > .ant-input-suffix > .ant-input-search-button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      > .anticon-search {
        font-size: var(--font-size-lg);
      }
    }

    &.ant-input-search-enter-button > .ant-input {
      padding-right: 46px;
    }

    &.ant-input-search-enter-button > .ant-input-suffix {
      right: 0;
    }
  }

  .ant-input-affix-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;

    &:hover .ant-input:not(.ant-input-disabled) {
    }

    .ant-input {
      position: static;
    }

    .ant-input-prefix,
    .ant-input-suffix {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      line-height: 0;
      color: var(--text-color);

      /*:not(.anticon) {
        line-height: @line-height-base;
      }*/
    }

    .ant-input-prefix {
      left: 0;
    }

    .ant-input-suffix {
      right: 0;
    }

    .ant-input:not(:first-child) {
      padding-left: 20px;
    }

    .ant-input:not(:last-child) {
      padding-right: 20px;
    }
  }
  .fl-input-container {
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    padding: 0px;
    position: relative;
  }
  
  .fl-input-container input:not(:focus):not(.fl-valid):not(.fl-invalid) {
    color: transparent;
  }
  
  .fl-input-container input,
  .fl-input-container label,
  .fl-error-msg {
    -webkit-font-smoothing: antialiased;
    font-family: 'Roboto', sans-serif;
    text-shadow: none;
  }
  
  .fl-input-container input {
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    border-radius: 0;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 100%;
    line-height: 25px;
  }
  .ant-form-item {
    margin-bottom: 10px;
  }
  .fl-input-label {
    -moz-transform-origin: left top;
    -moz-transform: scale(1) translate3d(0, 35px, 0);
    -moz-transition: 200ms ease all;
    -ms-flex-order: 1;
    -webkit-order: 1;
    -webkit-transform-origin: left top;
    -webkit-transform: scale(1) translate3d(0, 35px, 0);
    -webkit-transition: 200ms ease all;
    color: var(--input-color);
    font-weight: normal;
    opacity: 0.75;
    order: 1;
    pointer-events: none;
    text-transform: capitalize;
    transform-origin: left top;
    transform: scale(1) translate3d(0, 35px, 0);
    transition: 200ms ease all;
    line-height: 1;
  }
  
  .fl-input-container input:focus + label,
  .fl-input-container input.fl-valid + label,
  .fl-invalid + label {
    -moz-transform: scale(1) translate3d(0, 10px, 0);
    -webkit-transform: scale(1) translate3d(0, 10px, 0);
    color: var(--input-color);
    opacity: 1;
    transform: scale(1) translate3d(0, 10px, 0);
  }
  
  .fl-input:active,
  .fl-input:focus,
  .fl-input-label {
    outline: 0;
  }
  
  .fl-input {
    -ms-flex-order: 2;
    -ms-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    -webkit-order: 2;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    color: #000;
    flex: 1 1 auto;
    order: 2;
  }
  
  .fl-input-bar {
    -ms-flex-order: 3;
    -webkit-order: 3;
    display: block;
    order: 3;
    top: 0;
  }
  
  .fl-input-bar::after,
  .fl-input-bar::before {
    -moz-transition: 200ms ease all;
    -webkit-transition: 200ms ease all;
    background: #999;
    bottom: 0;
    content: "";
    height: 2px;
    position: absolute;
    transition: 200ms ease all;
    width: 0;
  }
  
  .fl-input-bar::before {
    left: 50%;
  }
  
  .fl-input-bar::after {
    right: 50%;
  }
  
  .fl-input:focus ~ .fl-input-bar::after,
  .fl-input:focus ~ .fl-input-bar::before,
  .fl-invalid ~ .fl-input-bar::after,
  .fl-invalid ~ .fl-input-bar::before {
    width: 50%;
  }
  
  .fl-input-bar,
  .fl-error-msg {
    position: relative;
    width: inherit;
  }
  
  .fl-error-msg {
    bottom: 0;
    display: none;
    font-size: 13px;
    overflow: hidden;
    position: absolute;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 90%;
    word-break: break-all;
    word-wrap: break-word;
  }
  
  .fl-error-show {
    display: inline-block;
  }
  
  .fl-invalid ~ .fl-input-bar::after,
  .fl-invalid ~ .fl-input-bar::before {
    background: #E74C3C;
  }
  
  .fl-input-container .fl-input.fl-invalid + label,
  .fl-error-msg {
    color: #E74C3C;
  }
  
  
  .header {
    font-family: var(--font-family-secondary);
    text-transform: uppercase;
    font-size: var(--font-size-sm);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: var(--margin-md);
    margin-top: var(--margin-md);
  }
  
  .title {
    letter-spacing: 0.7px;
    /*padding-right: 10px;*/
    /*padding-left: 10px;*/
    /*white-space: nowrap;*/
  }
  
  .checkIcon {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }
  
  .key {
    margin-bottom: 5px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    border: 1px solid var(--dark-color);
  }
  
  .description {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: color-mod(var(--white-color) a(90%));
    padding: var(--margin-md);
    font-size: 15px;
  }
  
  .content {
    position: relative;
    justify-content: center;
    width: 100%;
    display: flex;
    flex: 1;
    min-height: 125px;
  }
  
  .image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    position: relative;
  }
  .image:after{
    content:'';
    display: block;
    padding-bottom: 67%;
  }
  .svgImage {
  }
  
  .extra {
    position: absolute;
    top: var(--margin-xs);
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-sm);
  }
}
