@import './variables.css';

/* TODO add clear button*/

:global {
  .ant-select {
    /*reset component*/
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    list-style: none;

    display: inline-block;
    position: relative;

    ul,
    ol {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    > ul > li > a {
      padding: 0;
      background-color: var(--white-color);
    }

    &-arrow {
      position: absolute;
      top: 50%;
      width: 15px;
      height: 8px;
      right: 0;
      background: url('./svgs/selector_arrow.svg') no-repeat top left;
      transform: translateY(-50%);
      transition: transform .3s;
    }

    &-selection {
      outline: none;
      user-select: none;

      box-sizing: border-box;
      display: block;

      background-color: transparent;
      border-bottom: 1px solid var(--input-border-color);

      /*strange align fix for chrome but works
      https://gw.alipayobjects.com/zos/rmsportal/VFTfKXJuogBAXcvfAUWJ.gif*/
      border-top-width: 1.02px;
      transition: all .3s ease-in-out;

      &:hover {
        /*.hover;*/
      }

      .ant-select-focused &,
      &:focus,
      &:active {
        /*.active;*/
      }

      &__clear {
        display: inline-block;
        font-style: normal;
        vertical-align: baseline;
        text-align: center;
        text-transform: none;
        text-rendering: auto;
        opacity: 0;
        position: absolute;
        right: 0;
        z-index: 1;
        top: 50%;
        transform: translateY(-50%);
        font-size: var(--font-size-sm);
        color: var(--disabled-color);
        width: 12px;
        height: 12px;
        line-height: 12px;
        cursor: pointer;
        transition: color 0.3s ease, opacity 0.15s ease;

        &:before {
          display: block;
          font-family: 'anticon';
          text-rendering: optimizeLegibility;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          content: "\e62e";
        }
        &:hover {
        }
      }

      &:hover &__clear {
        opacity: 1;
      }

      &:hover &__clear ~ .ant-select-arrow {
        opacity: 0;
      }

      &-selected-value {
        float: left;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 100%;
        padding-right: 20px;
      }
    }

    &-selection--single {
      height: var(--input-height-base);
      position: relative;
      cursor: pointer;
    }

    &-selection__rendered {
      display: block;
      margin-left: -1px;
      margin-right: -1px;
      position: relative;
      line-height: calc(var(--input-height-base) - 2px);
      /*https://github.com/ant-design/ant-design/issues/3481#issuecomment-254721026*/
      &:after {
        content: '.';
        visibility: hidden;
        pointer-events: none;
        display: inline-block;
        width: 0;
      }
    }

    &-search__field__wrap {
      display: inline-block;
      position: relative;
    }

    &-selection__placeholder,
    &-search__field__placeholder {
      position: absolute;
      top: 50%;
      left: 0;
      right: 9px;
      color: var(--input-placeholder-color);
      line-height: 20px;
      height: 20px;
      max-width: 100%;
      margin-top: -10px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-align: left;
    }

    &-search__field__placeholder {
      left: 12px;
    }

    &-search__field__mirror {
      position: absolute;
      top: 0;
      left: -9999px;
      white-space: pre;
      pointer-events: none;
    }

    &-search--inline {
      position: absolute;
      height: 100%;
      width: 100%;

      .ant-select-search__field__wrap {
        width: 100%;
        height: 100%;
      }

      .ant-select-search__field {
        border-width: 0;
        font-size: 100%;
        height: 100%;
        width: 100%;
        background: transparent;
        outline: 0;
        border-radius: 0;
        line-height: 1;
      }

      > i {
        float: right;
      }
    }

    &-open {
      .ant-select-arrow {
        transform: translateY(-50%) rotate(180deg);
      }
      .ant-select-selection {
      }
    }
  }

  .ant-select-selection--multiple {
    ul {
      position: absolute;
    }

    li {
      display: inline-block;
      margin-right: 10px;
    }

    .ant-select-selection__choice__remove {
      width: 10px;
    }
  }

  .ant-select-dropdown {
    /*reset component*/
    font-family: var(--font-family-secondary);
    line-height: var(--line-height-base);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    list-style: none;

    &.slide-up-enter.slide-up-enter-active.ant-select-dropdown-placement-bottomLeft,
    &.slide-up-appear.slide-up-appear-active.ant-select-dropdown-placement-bottomLeft {
      animation-name: antSlideUpIn;
    }

    &.slide-up-enter.slide-up-enter-active.ant-select-dropdown-placement-topLeft,
    &.slide-up-appear.slide-up-appear-active.ant-select-dropdown-placement-topLeft {
      animation-name: antSlideDownIn;
    }

    &.slide-up-leave.slide-up-leave-active.ant-select-dropdown-placement-bottomLeft {
      animation-name: antSlideUpOut;
    }

    &.slide-up-leave.slide-up-leave-active.ant-select-dropdown-placement-topLeft {
      animation-name: antSlideDownOut;
    }

    &-hidden {
      display: none;
    }

    background-color: var(--white-color);
    box-shadow: 0 2px 8px rgba(0, 0, 0, .15);
    box-sizing: border-box;
    z-index: var(--zindex-dropdown);
    left: -9999px;
    top: -9999px;
    position: absolute;
    outline: none;
    font-size: var(--font-size-base);

    &-menu {
      outline: none;
      margin-bottom: 0;
      padding-left: 0;
      /*Override default ul/ol list-style: none;*/
      max-height: 250px;
      overflow: auto;

      &-item {
        position: relative;
        display: block;
        padding: 5px var(--margin-md);
        line-height: 22px;
        font-weight: normal;
        color: var(--text-color);
        white-space: nowrap;
        cursor: pointer;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: background 0.3s ease;

        &:hover {
          background-color: var(--item-hover-bg);
        }

        &-selected {
          &,
          &:hover {
            background-color: var(--background-color-light);
            font-weight: 600;
            color: var(--text-color);
          }
        }

        &-active {
          background-color: var(--item-active-bg);
        }
      }
    }

    &-container-open,
    &-open {
      .ant-select-dropdown {
        display: block;
      }
    }
  }
  .ant-select-disabled{
    opacity: 0.5;
  }
  .ant-select-disabled .ant-select-arrow{
    display: none;
  }
}

@keyframes: global(antSlideUpIn) {
  0% {
    opacity: 0;
    transform-origin: 0% 0%;
    transform: scaleY(.8);
  }
  100% {
    opacity: 1;
    transform-origin: 0% 0%;
    transform: scaleY(1);
  }
}

@keyframes: global(antSlideUpOut) {
  0% {
    opacity: 1;
    transform-origin: 0% 0%;
    transform: scaleY(1);
  }
  100% {
    opacity: 0;
    transform-origin: 0% 0%;
    transform: scaleY(.8);
  }
}

@keyframes: global(antSlideDownIn) {
  0% {
    opacity: 0;
    transform-origin: 100% 100%;
    transform: scaleY(.8);
  }
  100% {
    opacity: 1;
    transform-origin: 100% 100%;
    transform: scaleY(1);
  }
}

@keyframes: global(antSlideDownOut) {
  0% {
    opacity: 1;
    transform-origin: 100% 100%;
    transform: scaleY(1);
  }
  100% {
    opacity: 0;
    transform-origin: 100% 100%;
    transform: scaleY(.8);
  }
}
