:root {
  /*
   * Typography
   * ======================================================================== */
  --border-radius: 4px;
  --code-family: Consolas, Menlo, Courier, monospace;
  --link-decoration: none;
  --link-hover-decoration: none;
  --font-family: 'Proxima Nova', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-size-base: 15px;
  --font-size-lg: 17px;
  --font-size-sm: 12px;
  --line-height-base: 1.5;
  --btn-font-weight: bold;
  --btn-height-base: 50px;
  --btn-padding-base: 0 16px;
  --input-height-base: 50px;
  --input-padding-horizontal-base: 0;
  --input-padding-vertical-base : 4px;

  /*
   * Layout
   * ======================================================================== */

  --max-content-width: 1200px;
  --header-height: 50px;

  /*
   * Media queries breakpoints
   * ======================================================================== */
  @custom-media --xs-down (width < 480px);
  @custom-media --xs-up (width >= 480px);
  @custom-media --sm-down (width < 768px);
  @custom-media --sm-up (width >= 768px);
  @custom-media --md-down (width < 992px);
  @custom-media --md-up (width >= 992px);
  @custom-media --lg-down (width < 1200px);
  @custom-media --lg-up (width >= 1200px);
  @custom-media --xl-down (width < 1600px);
  @custom-media --xl-up (width >= 1600px);

  --screen-xs-min: 480px; /* Extra small screen / phone */
  --screen-sm-min: 768px; /* Small screen / tablet */
  --screen-md-min: 992px; /* Medium screen / desktop */
  --screen-lg-min: 1200px; /* Large screen / wide desktop */
  --screen-xl-min: 1600px; /* Extra Large screen / extra wide desktop */

  /*
   * Colors
   * ======================================================================== */
  --primary-color: #4A979B;
  --white-color: #fff;
  --black-color: #000;
  --dark-color: #404D5F;
  --heading-color: var(--dark-color);
  --text-color: rgba(64,77,95,0.7);
  --text-color-secondary: rgba(64,77,95,0.5);
  --link-color: #ADA39B;
  --link-hover-color: color-mod(var(--link-color) shade(15%));
  --link-active-color: color-mod(var(--link-color) shade(20%));
  /*TODO disabled color*/
  --disabled-color: fade(#000, 25%);
  --body-background: #F8F8F8;
  --input-placeholder-color: color-mod(var(--dark-color) a(50%));
  --input-bg: transparent;
  --input-color: rgba(64,77,95,0.7);
  --input-border-color: color-mod(var(--dark-color) a(30%));

  /*
   * Margins
   * ======================================================================== */
  --margin-xs: 8px;
  --margin-sm: 12px;
  --margin-md: 16px;
  --margin-lg: 24px;
  --margin-xl: 32px;

  /*
   * Custom selectors
   * ======================================================================== */
  @custom-selector :--hover :hover, :focus;
}
