:root {
  /*
   * Typography
   * ======================================================================== */
  --border-radius: 4px;
  --card-box-shadow: 0 1px 2px 0 rgba(0,39,36,0.1);
  --code-family: Consolas, Menlo, Courier, monospace;
  --link-decoration: none;
  --link-hover-decoration: none;
  --font-family: 'Adobe Garamond Pro', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-family-secondary: 'Proxima Nova', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-family-tertiary: 'Cormorant Garamond', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-size-base: 15px;
  --font-size-lg: 17px;
  --font-size-sm: 12px;
  --line-height-base: 1.5;
  --btn-font-weight: bold;
  --btn-height-base: 50px;
  --btn-padding-base: 0 16px;
  --input-height-base: 50px;
  --input-padding-horizontal-base: 0;
  --input-padding-vertical-base : 4px;

  /* z-index list */
  --zindex-dropdown: 1050;
  --zindex-tooltip: 1060;
  --zindex-modal-mask: 1000;
  --zindex-modal: 1000;

  --carousel-dot-width: 16px;
  --carousel-dot-height: 3px;
  --carousel-dot-active-width: 24px;

  --component-background: var(--white-color);

  /* Pagination */
  --pagination-item-size: 32px;
  --pagination-item-size-sm: 24px;
  --pagination-font-family: Arial;
  --pagination-font-weight-active: 500;

  /* Tooltip */
  --tooltip-max-width: 250px;
  --tooltip-color: var(--link-color);
  --tooltip-bg: var(--darker-color);
  --tooltip-arrow-width: 3px;
  --tooltip-distance: 5px;
  --tooltip-arrow-color: var(--tooltip-bg);

  /*
   * Layout
   * ======================================================================== */

  --max-content-width: 1200px;
  --max-dashboard-width: 960px;
  --header-height: 50px;

  /*
   * Media queries breakpoints
   * ======================================================================== */
  @custom-media --xs-down (width < 480px);
  @custom-media --xs-up (width >= 480px);
  @custom-media --sm-down (width <= 576px);
  @custom-media --sm-up (width > 576px);
  @custom-media --md-down (width <= 768px);
  @custom-media --md-up (width > 768px);
  @custom-media --lg-down (width <= 992px);
  @custom-media --lg-up (width > 992px);
  @custom-media --xl-down (width <= 1200px);
  @custom-media --xl-up (width > 1200px);
  @custom-media --xxl-down (width <= 1600px);
  @custom-media --xxl-up (width > 1600px);

  --screen-xs-min: 480px; /* Extra small screen / phone */
  --screen-sm-min: 576px; /* Small screen / tablet */
  --screen-md-min: 768px; /* Medium screen / desktop */
  --screen-lg-min: 992px; /* Large screen / wide desktop */
  --screen-xl-min: 1200px; /* Extra Large screen / extra wide desktop */
  --screen-xxl-min: 1600px; /* Extra extra large screen / large desktop */

  /*
   * Colors
   * ======================================================================== */
  --primary-color: #4A979B;
  --white-color: #fff;
  --black-color: #000;
  --dark-color: #404D5F;
  --darker-color: #2D3643;
  --heading-color: var(--dark-color);
  --text-color: rgba(64,77,95,0.7);
  --text-color-secondary: rgba(64,77,95,0.5);
  --link-color: #ADA39B;
  --link-hover-color: color-mod(var(--link-color) shade(15%));
  --link-active-color: color-mod(var(--link-color) shade(20%));
  --body-background: #F8F8F8;
  --input-placeholder-color: color-mod(var(--dark-color) a(50%));
  --input-bg: transparent;
  --input-color: rgba(64,77,95,0.7);
  --input-border-color: color-mod(var(--dark-color) a(30%));
  --item-active-bg: #F8F8F8;
  --item-hover-bg: #F8F8F8;
  --background-color-light: #F8F8F8;
  --muted-color: #9BA2AB;
  --disabled-color: rgba(64,77,95,0.3);
  --light-grey-color: rgba(64,77,95,0.3);
  --border-color-base: color-mod(var(--dark-color) a(10%));
  /*
   * Margins
   * ======================================================================== */
  --margin-xs: 8px;
  --margin-sm: 12px;
  --margin-md: 16px;
  --margin-lg: 24px;
  --margin-xl: 32px;

  /*
   * Custom selectors
   * ======================================================================== */
  @custom-selector :--hover :hover, :focus;
}
