@import '../../styles/variables.css';

.container {
  max-width: var(--max-dashboard-width);
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  padding-right: var(--margin-md);
  padding-left: var(--margin-md);
  padding-bottom: var(--margin-xl);

  @media (--md-down) {
    padding-top: var(--margin-md);
  }
  @media (--md-up) {
    padding-top: var(--margin-xl);
  }
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  @media (--sm-down) {
    flex-direction: column;
  }
}

.contact {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 120px;
  background-color: var(--white-color);
  box-shadow: 0 1px 2px 0 rgba(0,39,36,0.1);
  padding: var(--margin-sm);
  position: relative;
  margin-bottom: 20px;

  &:--hover {
    border: 2px solid #D0CCC9;

    .editBtn,
    .removeBtn {
      visibility: visible;
    }
  }
}

.contactContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.contactName {
  font-size: 16px;
  color: color-mod(var(--dark-color) a(70%));
  font-style: italic;
  margin-bottom: 0;
}

.contactEmail,
.contactBirthday,
.contactPhone {
  color: var(--dark-color);
  font-size: var(--font-size-sm);
  font-family: var(--font-family-secondary);
}

.editBtn {
  visibility: hidden;
  display: flex;
  position: absolute;
  padding: 10px;
  left: 0;
  top: 0;
  z-index: 1;
}

.removeBtn {
  visibility: hidden;
  display: flex;
  position: absolute;
  padding: 10px;
  right: 0;
  top: 0;
  z-index: 1;
}

.search {
  margin-right: var(--margin-md);
  max-width: 600px;
  width: 100%;
}

.sortBy {
  margin-right: var(--margin-md);
  max-width: 220px;
  width: 100%;
}

.views {
  margin-left: auto;
  display: flex;
}

.viewBtn {
  display: flex;
}

.viewBtn + .viewBtn {
  margin-left: 10px;
}

.footer {
  display: flex;
  justify-content: flex-end;
}

.removeIcon {
  margin-left: var(--margin-xs);
}
