@import '../../styles/variables.css';

.container {
  max-width: var(--max-dashboard-width);
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  padding-right: var(--margin-md);
  padding-left: var(--margin-md);
  padding-bottom: var(--margin-xl);

  @media (--md-down) {
    padding-top: var(--margin-md);
  }
  @media (--md-up) {
    padding-top: var(--margin-xl);
  }
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;

  @media (--sm-down) {
    flex-direction: column;
  }
}

.header {
  margin-bottom: 0;

  @media (--md-up) {
    font-size: 40px;
  }
  @media (--md-down) {
    font-size: 32px;
  }
}

.filters {
  display: flex;
  align-items: center;
  margin-bottom: var(--margin-md);
}

.month {
  width: 100px;
}

.date {
  width: 100px;
}

.label {
  font-size: 24px;
}

.occasion {
  margin-left: auto;
  width: 300px;
}

.filterWrapper {
  padding-right: 40px;
}
