@import '../../styles/variables.css';

.card {
  cursor: pointer;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  &.bordered.active {
    background-color: rgba(173, 163, 155, 0.3);
  }

  &:not(.bordered).active {
    .imageWrapper {
      background-color: rgba(173, 163, 155, 0.3);
      outline: 1px solid #ADA39B;
    }
  }

  &.bordered {
    background-color: rgba(173, 163, 155, 0.1);
    border: 1px solid #ADA39B;
  }

  &.withExtra {
    padding-top: var(--margin-xl);
    min-height: 220px;
  }

  &:--hover {
    .description {
      display: block;
    }
  }
}

.header {
  font-family: var(--font-family-secondary);
  text-transform: uppercase;
  font-size: var(--font-size-sm);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: var(--margin-md);
  margin-top: var(--margin-md);
}

.title {
  letter-spacing: 2.1px;
  padding-right: 10px;
  padding-left: 10px;
}

.checkIcon {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.key {
  margin-bottom: 5px;
  width: 16px;
  height: 16px;
  line-height: 16px;
  border: 1px solid var(--dark-color);
}

.description {
  display: none;
  position: absolute;
  top: 0;
  right: 0;  margin-bottom: 20px;

  left: 0;
  bottom: 0;
  background: color-mod(var(--white-color) a(90%));
  padding: var(--margin-md);
  font-size: 15px;
}

.imageWrapper {
  position: relative;
}

.image {
  width: 100%;
  height: auto;

  @media (--xs-down) {
    max-width: 100%;
  }
}

.icon {
  margin-top: var(--margin-lg);
}

.extra {
  position: absolute;
  top: var(--margin-xs);
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-sm);
}
