@import '../../styles/variables.css';

.wrapper {
  background: white;
  padding-top: 36px;
  padding-bottom: 60px;
}
.container {
  max-width: var(--max-content-width);
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (--md-up) {
    padding: var(--margin-xl) var(--margin-md);
    padding-top: 0;
  }
  @media (--md-down) {
    padding: var(--margin-md);
    padding-top: 0;
  }
}

.contentContainer{
  text-align: center;
  width:80%;
  align-self: center;
}
.contentContainer_de{
  width:100%;
}
.titleContainer {
  display: flex;
  align-items: center;
  padding: 0;
}
.textArea {
  border: 1px solid rgba(64,77,95,0.1);
  /*margin-top: ;*/
}

.header {
  font-size: 40px;
  font-family: "Adobe Garamond Pro";
  text-align: center;
}

.subtitle{
  text-align: left;
  font-size: 27px;
  margin-bottom: 40px;
  
}

.messageTitle {
  font-size: 15px;
  font-family: "Proxima Nova";
  color: rgba(64,77,95,0.5);
  height: 50px;
  display: block;
  padding-top: 20px;
  line-height: 15px;
}

.formContainer {
  width: 555px;
  align-self: center;
}

.contactInput {
  margin-bottom: 40px;
}

.attachBtn {
  color: #4A979B;
  font-family: "Proxima Nova";
  font-size: 12px;
  letter-spacing: 1.7px;
  line-height: 15px;
  text-transform: uppercase;
  border: none;
  box-shadow: none;
  outline: none;
  font-weight: 100;
  cursor: pointer;
}

.attachBtn svg {
  margin-bottom: -3px;
  margin-right: 10px;
}

.submitBtn {
  margin-top: 30px;
}

.submitRow {
  text-align: center;
}

.attachBtn input {
  display: none!important;
}
.cardImage {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  flex: 1;
  width: auto;
  height: 420px;
  background-position: right;
}
.error{
  color:red;
  padding-top:  10px;
}