@import '../../styles/variables.css';

.wrapper {
  background: white;
  padding-top: 36px;
  padding-bottom: 60px;
}

.container {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.textArea {
  border: 1px solid rgba(64,77,95,0.1);
  margin-top: ;
}

.header {
  font-size: 40px;
  font-family: "Adobe Garamond Pro";
}

.subtitle{
  text-align: center;
  width: 100%;
  font-size: 15px;
  font-family: "Adobe Garamond Pro";
  line-height: 24px;
  margin-bottom: 45px;
}

.messageTitle {
  font-size: 15px;
  font-family: "Proxima Nova";
  color: var(--input-color);
  height: 50px;
  display: block;
  padding-top: 20px;
  line-height: 15px;
}

.formContainer {
  width: 430px;
}

.contactInput {
  margin-bottom: 40px;
}

.attachBtn {
  color: #4A979B;
  font-family: "Proxima Nova";
  font-size: 12px;
  letter-spacing: 2.1px;
  line-height: 15px;
  text-transform: uppercase;
  border: none;
  box-shadow: none;
  outline: none;
  font-weight: 400;
  cursor: pointer;
}

.attachBtn svg {
  margin-bottom: -3px;
  margin-right: 10px;
}

.submitBtn {
  margin-top: 30px;
}

.submitRow {
  text-align: center;
}

.attachBtn input {
  display: none!important;
}
