@import '../../styles/variables.css';

.previewWrapper {
  background-color: #F0F0F0;
  display: flex;
  flex-direction: column;
  overflow: auto;
  top: 0;
  right: 0;
  bottom: 0;
  /*TODO move to constants*/
  z-index: 10;
  position: fixed;

  flex: 0 0 auto !important;
  /*TODO preview width*/
  max-width: 420px !important;
  min-width: auto !important;
  width: 100% !important;
  justify-content: center;
  @media (--xl-up) {
    position: fixed;
  }
  @media (--xl-down) {
    position: fixed;
  }

  &:global(.ant-layout-sider-collapsed) {
    max-width: 0 !important;
  }
}

.previewHeader {
  text-align: center;

  @media (--md-up) {
    font-size: 40px;
  }
  @media (--md-down) {
    font-size: 32px;
  }
}

.previewDescription {
  margin-top: var(--margin-md);
  text-align: center;
  font-family: var(--font-family-secondary);
  letter-spacing: normal;
  text-transform: uppercase;
}
.previewShortDescription{
  text-align: center;
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-base);
  word-break: break-all;
}
.preview {
  align-self: center;
  padding-bottom: 35px;
  @media (--md-up) {
    padding-right: var(--margin-xl);
    padding-left: var(--margin-xl);
  }
  @media (--md-down) {
    padding-right: var(--margin-lg);
    padding-left: var(--margin-lg);
  }
  @media (--md-down) and (--xs-up) {
    /*TODO header height*/
    margin-top: 134px;
  }
  @media (--xs-down) {
    margin-top: calc(var(--margin-lg)+20px);
  }
}

.previewImage {
  margin-bottom: 50px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-height: 200px;
}

/*TODO move to component styles*/
.dotWrapper {
  padding: 8px;
  box-sizing: content-box;
  cursor: pointer;
  margin: 0 5px;
  border: 1px solid transparent;
}

:global(.slick-active) .dotWrapper {
  border-color: var(--primary-color);
  border-radius: 50%;
}

.dot {
  background-color: var(--primary-color);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin: 0;
}

.closeBtn {
  @media (--xl-up) {
    display: none;
  }
  @media (--xl-down) {
    position: absolute;
    padding: var(--margin-xl) var(--margin-lg);
    top: 0;
    right: 0;
    display: flex;
  }
}
