@import '../../styles/variables.css';

.contactDetailModal {
  :global(.ant-modal-title) {
    font-size: 36px;
    line-height: 36px;
  }
  :global(.ant-modal-header) {
    padding: 61px 24px 18px 24px;
  }
}

.contactDetail {
  color: var(--dark-color);
  font-family: var(--font-family-secondary);
}

.contactDetailTitle {
  margin-bottom: 15px;
  color: color-mod(var(--dark-color) a(70%));
}

.detailRow {
  margin-bottom: 20px;
}

.ant-modal-title {
  font-size: 30px;
}
.editbutton {
  background-color: var(--primary-color);
  float: right;
  margin-bottom: 25px;
  padding: 5px 15px;
  color: white;
}
.headertitle{
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}