@import '../../styles/variables.css';

.contactDetailModal {
  :global(.ant-modal-title) {
    font-size: 36px;
    line-height: 36px;
  }
  :global(.ant-modal-header) {
    padding: 61px 24px 18px 24px;
  }
}

.contactDetail {
  color: var(--dark-color);
  font-family: var(--font-family-secondary);
}

.contactDetailTitle {
  margin-bottom: 15px;
  color: color-mod(var(--dark-color) a(70%));
}

.detailRow {
  margin-bottom: 20px;
}

.ant-modal-title {
  font-size: 30px;
}
