@import '../../styles/variables.css';

.header {
  margin-bottom: 0;

  @media (--md-up) {
    font-size: 40px;
  }
  @media (--md-down) {
    font-size: 32px;
  }
}

.section {
  margin-bottom: var(--margin-xl);
}

.birthday {
  width: 100%;
}
