@import '../../styles/variables.css';

.item {
  margin-bottom: var(--margin-md);
  position: relative;
}

.date {
  width: 100%;
}

.removeIcon {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: -30px;
  transform: translateY(-50%);
}
.reminderDate{
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-base);
  color: var(--text-color);
  margin-bottom: 0;
}