@import '../../styles/variables.css';

.container {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  padding-bottom: var(--margin-xl);

  @media (--md-down) {
    padding-top: var(--margin-md);
  }
  @media (--md-up) {
    padding-top: var(--margin-xl);
  }
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  @media (--sm-up) {
    align-items: flex-end;
  }
  @media (--sm-down) {
    flex-direction: column;
    padding-right: var(--margin-md);
    padding-left: var(--margin-md);
  }
  @media (max-width: 960px) {
    padding-right: var(--margin-md);
    padding-left: var(--margin-md);
  }
}

.header {
  margin-bottom: 0;

  @media (--md-up) {
    font-size: 40px;
  }
  @media (--md-down) {
    font-size: 32px;
  }
}

.search {
  @media (--sm-up) {
    max-width: 325px;
  }
}

.orders {
  margin-bottom: var(--margin-xl);
}

.currency {
  color: var(--muted-color);
}

.calendarHeader {
  margin-bottom: 0;

  @media (--md-up) {
    font-size: 40px;
  }
  @media (--md-down) {
    font-size: 32px;
  }
}

.event {
  display: flex;
  box-shadow: 0 1px 2px 0 rgba(0,39,36,0.1);
  background-color: var(--white-color);
}

.event + .event {
  margin-top: var(--margin-xl);
}

.eventDate {
  width: 100px;
  height: 100px;
  text-align: center;
  border-right: 2px solid color-mod(var(--dark-color) a(10%));
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.eventDay {
  color: var(--light-grey-color);
  font-size: 40px;
  line-height: 40px;
}

.eventWeekDay {
  color: var(--text-color);
}

.eventDetails {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 24px;
  padding-right: 60px;
  position: relative;
}

.eventType {
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-sm);
  color: var(--dark-color);
  text-transform: uppercase;
  letter-spacing: 2.1px;
}

.eventName {
  font-family: var(--font-family-secondary);
  font-size: 18px;
  color: var(--dark-color);
  text-transform: uppercase;
  letter-spacing: 3.15px;
}

.eventArrowIcon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: var(--margin-xl);
}

.calendarSection {
  display: flex;
}

.calendar {
  width: 450px;
}

.events {
  padding-left: 60px;
  padding-top: 60px;
  flex: 1;
}

.calendarHeaderWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hasEvents {
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;

  &:after {
    content: "•";
    font-size: 18px;
    color: var(--primary-color);
    text-align: center;
  }

  &.inverted:after {
    color: var(--white-color);
  }
}
