@import '../../styles/variables.css';

.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--margin-md);
}

.header {
  margin-bottom: 0;

  @media (--md-up) {
    font-size: 40px;
  }
  @media (--md-down) {
    font-size: 32px;
  }
}

.date {
  font-family: var(--font-family-secondary);
  font-size: 18px;
  color: var(--dark-color);
  text-transform: uppercase;
  letter-spacing: 2.1px;
}

.quantityColumn,
.priceColumn {
  /*override ant styles*/
  text-align: center !important;
}

.productImage {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100px;
  width: 150px;
  margin-right: var(--margin-md);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  word-break: break-all;
  min-width: 150px;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
.voucherContain{
  justify-content: flex-start
}
.product {
  display: flex;
  align-items: center;
}

.title {
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-sm);
  color: var(--dark-color);
  text-transform: uppercase;
  word-break: break-all;
  max-width: 220px;
}

.title {
  letter-spacing: 2.1px;
}
.currency {
  color: var(--muted-color);
  margin-right: 4px;
}

.summary {
  box-shadow: 0 1px 2px 0 rgba(0, 39, 36, 0.1);
}

.summaryRow {
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-sm);
  color: var(--dark-color);
  text-transform: uppercase;

  & + & {
    margin-top: var(--margin-md);
  }
}

.summaryHeader {
  background: #FCFCFC;
  border-bottom: 2px solid rgba(64, 77, 95, 0.1);
  padding: 12px 20px;
  color: var(--dark-color);
}

.summaryContent {
  padding: 12px 20px;
  text-align: center;
}
.summaryInfoContent{
  padding: 12px 20px;
  text-align: center;
  border-bottom: 2px solid rgba(64, 77, 95, 0.1);
}
.summaryFooter {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid rgba(64, 77, 95, 0.1);
  padding: 20px;
  font-family: var(--font-family-secondary);
  font-size: 18px;
  color: var(--dark-color);
  text-transform: uppercase;
}

.shippingDetailsTitle {
  margin-top: 10px;
}

.shippingDetails {
  margin-top: 10px;
}

.voucher_details {
  margin-right: 15px;
  width: 150px;
}
.touch {
  cursor: pointer;
}
.detailRow {
  margin-bottom: 20px;
}
.Detail {
  color: var(--dark-color);
  font-family: var(--font-family-secondary);
  white-space: pre-line;
}

.DetailTitle {
  margin-bottom: 15px;
  color: color-mod(var(--dark-color) a(70%));
  font-family: var(--font-family-secondary);
}
.itemImage {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 314px;
  width: 100%;
}
.previewImage {
  margin-bottom: 50px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-height: 250px;
}

/*TODO move to component styles*/
.dotWrapper {
  padding: 8px;
  box-sizing: content-box;
  cursor: pointer;
  margin: 0 5px;
  border: 1px solid transparent;
}
:global(.slick-active) .dotWrapper {
  border-color: var(--primary-color);
  border-radius: 50%;
}
.dot {
  background-color: var(--primary-color);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin: 0;
}
.paybutton{
  margin-top: 20px;
  width: 100%;
  text-align: center;
}
.entirepaybtn{
  margin-bottom: 5px;
  align-self: center;
}