@import '../../styles/variables.css';

.header {
  padding: var(--margin-sm) var(--margin-md);
  display: flex;
  justify-content: center;
  align-items: center;

  @media (--md-down) {
    flex-direction: column;
  }
}

.layoutHeader {
  position: relative;
  max-width: var(--max-content-width);
  margin-right: auto;
  margin-left: auto;
}

.light {
  background-color: var(--white-color);
}

.rightMenu {
  font-style: italic;

  & > * {
    padding-right: var(--margin-sm);
    padding-left: var(--margin-sm);

    &:not(:last-child) {
      border-right: 1px solid var(--link-color);
    }
  }

  @media (--md-down) {
    margin-top: var(--margin-xs);
  }
  @media (--md-up) {
    position: absolute;
    right: var(--margin-md);
  }
}

.leftMenu {
  /*
  @media (--md-down) {
    order: 1;
    margin-top: var(--margin-xs);
  }
  @media (--md-up) {
    position: absolute;
    left: var(--margin-md);
  }
  */
  font-style: italic;

  & > * {
    padding-right: var(--margin-sm);
    padding-left: var(--margin-sm);

    &:not(:last-child) {
      border-right: 1px solid var(--link-color);
    }
  }

  @media (--md-down) {
    margin-top: var(--margin-xs);
    float: right;
  }
  @media (--md-up) {
    position: absolute;
    left: var(--margin-md);
  }
}

.bottomMenu {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  justify-content: center;
  padding-bottom: var(--margin-sm);
  margin-bottom: var(--margin-sm);

  @media (--sm-down) {
    flex-direction: column;
    text-align: center;
  }

  li {
    padding-right: 16px;
    padding-left: 16px;

    @media (--sm-down) {
      margin-bottom: var(--margin-sm);
    }
  }

  a {
    text-transform: uppercase;
    letter-spacing: 2.1px;
    font-size: 12px;
    color: var(--dark-color);
    font-family: var(--font-family-secondary);
  }
}

.underline:before {
  content: ' ';
  width: 9px;
  height: 5px;
  border-style: solid;
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent #404D5F transparent;
  display: block;
  margin-top: -5px;
  margin-left: auto;
  margin-right: auto;
}

.underline {
  border-top-color: #404D5F;
  border-left-color: #ffffff00;
  border-right-color: white;
  border-bottom-color: white;
}

.dashWrapper {
   margin-bottom: -16px;
}
.morebtn{
  display: inline;
  float: right;
  background-color: #3f8084;
  cursor: pointer;
  color: white;
  border: 0px;
  border-radius: 0px; 
  box-shadow: none;
  padding: 5px 10px;
  font-size: 15px;
  font-weight: bolder;
}
