@import '../../styles/variables.css';

.container {
  max-width: 1020px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  padding-bottom: var(--margin-xl);

  @media (--md-down) {
    padding-top: var(--margin-md);
  }
  @media (--md-up) {
    padding-top: var(--margin-xl);
  }
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  @media (--sm-up) {
    align-items: flex-end;
  }
  @media (--sm-down) {
    flex-direction: column;
    padding-right: var(--margin-md);
    padding-left: var(--margin-md);
  }
  @media (max-width: 1020px) {
    padding-right: var(--margin-md);
    padding-left: var(--margin-md);
  }
}

.header {
  margin-bottom: 0;

  @media (--md-up) {
    font-size: 40px;
  }
  @media (--md-down) {
    font-size: 32px;
  }
}
