@import '../../styles/variables.css';
.form {
  display: flex;
  flex-direction: column;
  flex: auto;
  font-size: var(--font-size-base);
  color: var(--text-color);
}
.content {
  padding-bottom: var(--margin-md);

  @media (--md-down) {
    padding-top: var(--margin-md);
  }
  @media (--md-up) {
    padding-top: var(--margin-xl);
  }
  @media (min-width: 565px) {
    margin-right: auto;
    margin-left: auto;
    max-width: 425px;
    width: 100%;
  }
}
.container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.headerPrefix {
  @media (min-width: 565px) {
    position: absolute;
    right: 100%;
  }
}

.header {
  @media (max-width: 564px) {
    padding-right: var(--margin-md);
    padding-left: var(--margin-md);
  }
}

.description {
  @media (max-width: 564px) {
    padding-right: var(--margin-md);
    padding-left: var(--margin-md);
  }
}

.voucherWrapper {
  display: flex;
  justify-content: center;
}
.voucherDisable{
  background-color: rgba(200,200,200,0.2);
  padding-left: 5px;
}
.messageTitle {
  font-size: 15px;
  font-family: "Proxima Nova";
  color: rgba(64,77,95,0.5);
  height: 50px;
  display: block;
  padding-top: 20px;
  line-height: 30px;
}
.voucherForm{
  width: 400px;
  height: 450px;
  background-color: white;
  padding: 35px;
}
.voucherFormItem {
  margin-top: 10px;
  margin-bottom: 10px;
}
.voucherToItem{
  margin-top: 20px;
  margin-bottom: 0;
}
.voucherarea {
  max-height: 160px;
  min-height: 90px;
}
.inputlabel {
  -moz-transform-origin: left top;
  -moz-transform: scale(1) translate3d(0, 35px, 0);
  -moz-transition: 200ms ease all;
  -ms-flex-order: 1;
  -webkit-order: 1;
  -webkit-transform-origin: left top;
  -webkit-transform: scale(1) translate3d(0, 35px, 0);
  -webkit-transition: 200ms ease all;
  color: var(--input-color);
  font-weight: normal;
  opacity: 0.75;
  order: 1;
  pointer-events: none;
  text-transform: capitalize;
  transform-origin: left top;
  transform: scale(1) translate3d(0, 35px, 0);
  transition: 200ms ease all;
  line-height: 1;
  outline: 0;
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto', sans-serif;
  text-shadow: none;
  position: absolute;
  top: -40px;
}
.cancelBtn{
  width: 100%;
  text-align: center;
  padding-top: 20px;
}