@import '../../styles/variables.css';

.container {
  display: flex;
  flex-direction: column;
  flex: auto;
}

.content {
  padding-bottom: var(--margin-md);
  padding-right: var(--margin-md);
  padding-left: var(--margin-md);

  @media (--md-down) {
    padding-top: var(--margin-md);
  }
  @media (--md-up) {
    padding-top: var(--margin-xl);
  }
  @media (min-width: 565px) {
    margin-right: auto;
    margin-left: auto;
    max-width: 425px;
    width: 100%;
  }
}

.headerPrefix {
  @media (min-width: 565px) {
    position: absolute;
    right: 100%;
  }
}

.actions {
  border-top: 2px solid color-mod(var(--dark-color) a(10%));
  margin-top: auto;
  text-align: center;
}

.submitBtn {
  margin-top: 40px;
  margin-bottom: 40px;
}

.birthday {
  width: 100%;
}
