@import '../../styles/variables.css';

.container {
  display: flex;
  flex: auto;
  position: relative;
}

.contentWrapper {
  padding-top: 114px;

  &.withPreview {
    margin-right: 420px;
  }
}

.content {
  padding-bottom: var(--margin-md);
  padding-right: var(--margin-md);
  padding-left: var(--margin-md);

  @media (--md-down) {
    padding-top: var(--margin-md);
  }
  @media (--md-up) {
    padding-top: var(--margin-xl);
  }

  @media (min-width: 1501px) {
    margin-right: auto;
    margin-left: auto;
    max-width: 880px;
    width: 100%;
  }
}

.headerPrefix {
  @media (min-width: 1501px) {
    margin-left: -60px;
  }
}

.layoutHeader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: var(--margin-sm) var(--margin-md);
  text-align: center;
}

.items {
  flex-wrap: wrap;
}

.itemWrapper {
  @media (--xs-down) {
    width: 100%;
  }
}

.item {
  margin-bottom: 20px;

  @media (--xs-up) {
    /*to split by 4*/
    width: 197px;
  }
}

.price {
  letter-spacing: normal;
}

.currency {
  color: #9BA2AB;
  margin-left: 4px;
}

.previewBtn {
  @media (--xl-up) {
    display: none;
  }
  @media (--xl-down) {
    position: fixed;
    top: 50%;
    right: -60px;
    z-index: 11;
    transform: rotate(90deg);
  }
}
