@import '../../styles/variables.css';

.container {
  margin: 0 auto;
  max-width: var(--max-content-width);

  @media (--sm-up) {
    padding: var(--margin-xl);
  }
}

.alert {
  margin-bottom: var(--margin-md);
}

.header {
  margin-bottom: var(--margin-md);
  font-size: 1.2rem;
  text-align: center;
}

.formWrapper {
}

.btnWrapper {
  margin-bottom: 0;
}

.btn {
  width: 100%;
}
