@import '../../styles/variables.css';

.headerWrapper {
  position: relative;
  display: flex;
  align-items: center;

  @media (--md-up) {
    font-size: 40px;
  }
  @media (--md-down) {
    font-size: 32px;
  }
}

.header {
  display: inline-flex;
}

.prefix {
  display: flex;
  align-items: center;
  color: var(--primary-color);
  margin-right: var(--margin-sm);

  @media (--md-up) {
    font-size: 40px;
  }
  @media (--md-down) {
    font-size: 32px;
  }
}

.arrowIcon {
  margin-left: var(--margin-xs);
}
