@import '../../styles/variables.css';

.header {
  color: var(--white-color);
  text-align: center;

  @media (--md-up) {
    font-size: 54px;
  }
  @media (--md-down) {
    font-size: 32px;
  }
  @media (--sm-down) {
    font-size: 28px;
  }
}

.bannerSectionWrapper {
  background: var(--white-color);
}

.bannerSection {
  max-width: var(--max-content-width);
  margin-right: auto;
  margin-left: auto;
}

.aboutUsSectionWrapper {
  padding-top: var(--margin-xl);
  background: var(--white-color);
  padding-bottom: 100px;
  background: url('../../static/testemonials_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.aboutUsSection {
  max-width: var(--max-content-width);
  margin-right: auto;
  margin-left: auto;
}

.aboutUsContent {
  margin-bottom: var(--margin-xl);

  @media (--md-up) {
    padding-left: 45px;
  }
}

.aboutUsHeader {
  @media (--md-up) {
    font-size: 40px;
  }
  @media (--md-down) {
    font-size: 32px;
  }
}

.sectionImage {
  max-width: 100%;
  height: auto;
}

.feedback {
  padding-top: var(--margin-xl);
  font-size: 24px;
}

.info {
  @media (--md-up) {
    padding-left: 45px;
  }
}

.signUpSection {
  background-color: var(--white-color);
  min-height: 345px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: var(--margin-md);
  padding-left: var(--margin-md);
}

.signUpHeader {
  @media (--md-up) {
    font-size: 40px;
  }
  @media (--md-down) {
    font-size: 32px;
  }
  text-align: center;
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
  line-height: 1;
  margin-bottom: 40px;
}

.signUpInputWrapper {
  display: flex;
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
}

.signUpInput {
  border: 1px solid var(--dark-color);
  border-right-width: 0 !important;

  &:--hover {
    border-color: var(--dark-color);
    border-right-width: 0 !important;
  }

  @media (--md-up) {
    width: 510px;
    height: 80px;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 18px;
  }
  @media (--md-down) {
    padding-right: 16px;
    padding-left: 16px;
    width: 195px;
  }
}

.signUpBtn {
  @media (--md-up) {
    width: 190px;
    height: 80px;
  }
  @media (--md-down) {
    min-width: 100px;
  }
}
