@import '../../styles/variables.css';

.avatarWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 100%;
  height: 88px;
  width: 88px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.avatarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 124px;
}
.editBtn {
  position: absolute;
  display: none;
  transition: 1s;
  left: 50%;
  margin-left: -7px;
}

.avatarWrapper:hover .editBtn {
  display: flex;
}
