@import '../../styles/variables.css';

.container {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  padding-bottom: var(--margin-xl);

  @media (--md-down) {
    padding-top: var(--margin-md);
  }
  @media (--md-up) {
    padding-top: var(--margin-xl);
  }
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  @media (--sm-up) {
    align-items: flex-end;
  }
  @media (--sm-down) {
    flex-direction: column;
    padding-right: var(--margin-md);
    padding-left: var(--margin-md);
  }
  @media (max-width: 960px) {
    padding-right: var(--margin-md);
    padding-left: var(--margin-md);
  }
}

.header {
  margin-bottom: 0;

  @media (--md-up) {
    font-size: 40px;
  }
  @media (--md-down) {
    font-size: 32px;
  }
}

.search {
  @media (--sm-up) {
    max-width: 325px;
  }
}

.cardWrapper {
  position: relative;
  /*TODO change*/
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plusIcon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -34px;
  z-index: 1;
}

.cardImage {
  max-width: 100%;
  height: auto;
}

.bundle {
  display: flex;
  flex-direction: column;
  background-color: var(--white-color);
  box-shadow: 0 1px 2px 0 rgba(0,39,36,0.1);
  margin-bottom: 20px;
}

.giftWrapper {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.giftImage {
  max-width: 100%;
  height: auto;
}

.cardInfo {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cardTitle {
  font-family: var(--font-family-secondary);
  font-size: 18px;
  letter-spacing: 3.15px;
  text-transform: uppercase;
  color: var(--dark-color);
  font-weight: 300;
}

.cardPrice {
  font-family: var(--font-family-secondary);
  color: var(--dark-color);
  font-size: 18px;
  letter-spacing: 3.15px;
  font-weight: 300;
}

.cardPriceCurrency {
  font-family: var(--font-family-secondary);
  color: var(--muted-color);
  margin-left: 4px;
  font-size: 18px;
  letter-spacing: 3.15px;
  font-weight: 300;
}

.bundleContent {
  display: flex;
  padding: var(--margin-sm);
}

.bundleActions {
  display: flex;
  padding: var(--margin-sm);
}

