@import '../../styles/variables.css';

.form {
  display: flex;
  flex-direction: column;
  flex: auto;
  font-size: var(--font-size-base);
  color: var(--text-color);
}

.content {
  padding-bottom: var(--margin-md);
  padding-right: var(--margin-md);
  padding-left: var(--margin-md);

  @media (--md-down) {
    padding-top: var(--margin-md);
  }
  @media (--md-up) {
    padding-top: var(--margin-xl);
  }
  @media (--sm-up) {
    margin-right: auto;
    margin-left: auto;
    max-width: 425px;
    width: 100%;
  }
}

.headerPrefix {
  @media (--sm-up) {
    position: absolute;
    right: 100%;
  }
}
