@import '../../styles/variables.css';

.form {
  display: flex;
  flex-direction: column;
  flex: auto;
  font-size: var(--font-size-base);
  color: var(--text-color);
}

.content {
  padding-bottom: var(--margin-md);
  padding-right: var(--margin-md);
  padding-left: var(--margin-md);
  flex: auto;

  @media (--md-down) {
    padding-top: var(--margin-md);
  }
  @media (--md-up) {
    padding-top: var(--margin-xl);
  }
  @media (--sm-up) {
    margin-right: auto;
    margin-left: auto;
    max-width: 425px;
    width: 100%;
  }
}
.sectionHeader {
  margin-top: 10px;
  margin-bottom: 0;

  @media (--md-up) {
    font-size: 40px;
  }
  @media (--md-down) {
    font-size: 32px;
  }
}
.headerPrefix {
  @media (--sm-up) {
    position: absolute;
    right: 100%;
  }
}
.loginbutton{
  margin-bottom: 15px;
}