@import '../../styles/variables.css';

.form {
  display: flex;
  flex-direction: column;
  flex: auto;
  font-size: var(--font-size-base);
  color: var(--text-color);
}

.content {
  padding-bottom: var(--margin-md);
  padding-right: var(--margin-md);
  padding-left: var(--margin-md);

  @media (--md-down) {
    padding-top: var(--margin-md);
  }
  @media (--md-up) {
    padding-top: var(--margin-xl);
  }
  max-width: 1250px;
  flex: auto;
  margin-left : 60px;
  margin-right: 60px;
}

.headerPrefix {
  @media (min-width: 1501px) {
    position: absolute;
    right: 100%;
  }
}

.editorContainer {
  display: flex;
  position: relative;
  padding-right: 270px;
  margin-right: auto;
  margin-left: auto;
}

.editorWrapper {
  background: var(--white-color);
  box-shadow: var(--card-box-shadow);
  padding: 45px;
}

.editorIconWrapper {
  position: absolute;
  background: var(--white-color);
  padding: 5px 15px;
  border: 1px solid rgba(64,77,95,0.1);
  display: flex;
  top: 27px;
  z-index: 999;
}

.editorActions {
  position: absolute;
  top: 0;
  right: 0;
  width: 230px;
  padding-top: 70px;
}

.editorBody {
  padding: 5px 10px;
  border: 1px solid rgba(64,77,95,0.1);
  background: var(--body-background);
  overflow: hidden;
}
.editorBody p, 
.editorBody span {
  word-break: break-all;
}
.editor {
  height: 100%;
  width: 100%;
}

.colors {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
}

.colorWrapper {
  display: flex;
  margin-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

.color {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  justify-content: space-between;
}
