@import '../../styles/variables.css';

.content {
  margin-bottom: var(--margin-md);

  @media (min-width: 820px) {
    margin-right: auto;
    margin-left: auto;
    max-width: var(--max-content-width);
  }
  @media (max-width: 1340px) {
    margin-right: var(--margin-md);
    margin-left: var(--margin-md);
  }
  @media (--md-up) {
    margin-top: var(--margin-xl);
  }
}

.headerPrefix {
  @media (min-width: 1340px) {
    margin-left: -60px;
  }
}

.items {
  flex-wrap: wrap;
}

.itemWrapper {
  @media (--xs-down) {
    width: 100%;
  }
}

.item {
  margin-bottom: 20px;
  justify-content: flex-end;

  @media (--xs-up) {
    /*to split by 4*/
    width: 284px;
  }
}
